#agenda {
  #agenda-wrapper {
    display: flex;
    article {
      padding: 0 5%;
      h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      ul {
        padding-left: 5%;
        li {
          color: #777;
          text-transform: uppercase;
          letter-spacing: 2px;
          line-height: 2;
        }
      }
    }
  }
}
