#contact {
  width: 100vw!important;
  overflow: hidden!important;
  position: relative; 
  div#contact-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F6DE7C;
    transform: skewY(-6deg);
    transform-origin: bottom right;
  }
  #contact-wrapper {
    width: 90%;
    margin: auto;
    p {
      font-size: 1rem;
      color: black;
      a {
        border-bottom: 2px solid black;
        &:hover {
          background: black;
          color: #F6DE7C;
        }
      }
    }
  }
}
