section#hommage {
	margin-top: 0!important;
	p {
		font-size: .9rem;
		i {
			font-size: 3rem;
			color: black;
			&:last-child {
				float: right;
			}
		}
		&:last-child {
			color: black;
			font-size: 1rem;
		}
	}
}